body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#textArea{
  position:absolute;
  top:100px;
  left:100px;
  max-width: 200px;
  text-align: left;
}

#numNewSpp{
  font-size: 14px;
}

#yearWrap, #totalWrap, #cumTotalWrap{
  font-size:16px;
}
